click==7.1.2
Flask==1.1.2
itsdangerous==1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
requests==2.24.0
PyYAML==3.13
chatterbot==1.1.0
chatterbot-corpus==1.2.0
spacy==2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0